<connectionStrings>
	<add name="AdminConnectionString" connectionString="data source=192.168.0.40;initial catalog=GOLD7_QAG_2203;password=abc123;persist security info=True;user id=crmnext;packet size=4096;enlist=false" providerName="System.Data.SqlClient" />
	<add name="ConnectionString" connectionString="data source=192.168.0.28;initial catalog=CRMnext_Dev;password=abc123;persist security info=True;user id=crmnext;packet size=4096;enlist=false" providerName="System.Data.SqlClient" />
	<add name="DeploymentConfigConnectionString" connectionString="data source=192.168.0.40;initial catalog=GOLD7_QAG_2203password=abc123;persist security info=True;user id=crmnext;packet size=4096;enlist=false" providerName="System.Data.SqlClient" />
	<add name="RuleEngineConnectionString" connectionString="data source=192.168.0.40;initial catalog=GOLD7_QAG_2203;password=abc123;persist security info=True;user id=crmnext;packet size=4096;enlist=false" providerName="System.Data.SqlClient" />
</connectionStrings>